* {
    margin: 0;
}

body {
    overflow-x: hidden;
}

#the-header {
    width: 100vw;
    height: 4em;
    border-bottom: 0.5px solid;
    background-color: blue;
}

#store-name {
    position: absolute;
    left: 1em;
    top: 0.35em;
}

#header-link-wrap {
    position: absolute;
    right: 0;
    top: 0.2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1.8em;
}

.h-links {
    text-decoration: none;
    color: black;
}